<app-barra></app-barra>

<h4 class="page-header"></h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-tarjeta></app-tarjeta>
        </div>
        <div class="col">
            <app-tarjeta></app-tarjeta>
        </div>
        <div class="col">
            <app-tarjeta></app-tarjeta>
        </div>
        <div class="col">
            <app-tarjeta></app-tarjeta>
        </div>
        <div class="col">
            <app-tarjeta></app-tarjeta>
        </div>
    </div>
</div>
<!-- 
<div class="container bg-secondary redondeo">
    <div class="row">
        <div class="col-4 ">
            <img class="img-menu img-responsive center-block" src="/src/assets/imagenes/pizza-margarita.jpg" alt="Pizza Margarita">
        </div>
        <div class="col-5 ">
            <h4>Pizza Margarita</h4>
            <ul class="ingredientes">
                <li>Salsa de Tomate</li>
                <li>Queso Mozzarella</li>
            </ul>
        </div>
        <div class="col-3 d-flex align-items-center">
            <button class="btn btn-success">Comprar</button>
        </div>
    </div>
    <div class="row ">
            <div class="col-4">
                <img class="img-menu img-responsive center-block" src="/src/assets/imagenes/pizza-peperoni.jpg" alt="Pizza Margarita">
            </div>
            <div class="col-5 pad-columna">
                <h4>Pizza Pepperoni</h4>
                <ul class="ingredientes">
                    <li>Salsa de Tomate</li>
                    <li>Queso Mozzarella</li>
                    <li>Pepperoni</li>
                </ul>
            </div>
            <div class="col-3 d-flex align-items-center">
                <button class="btn btn-success">Comprar</button>
            </div>
        </div>
        <div class="row ">
            <div class="col-4">
                <img class="img-menu img-responsive center-block" src="/src/assets/imagenes/pizza-maiz.jpg" alt="Pizza Margarita">
            </div>
            <div class="col-5 pad-columna">
                <h4>Pizza Maíz</h4>
                <ul class="ingredientes">
                    <li>Salsa de Tomate</li>
                    <li>Queso Mozzarella</li>
                    <li>Maíz</li>
                </ul>
            </div>
            <div class="col-3 d-flex align-items-center">
                <button class="btn btn-success">Comprar</button>
            </div>
        </div>
</div> -->