.card {
    min-height: 500px;
}

.img-menu{
    height: 140px;
    width: 140px;
}
.page-header{
    margin: 150px 0 0 110px;
}

h4{
    color: white;
    margin-top: 15px;
}

.ingredientes{
    color: white;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
 }

 .redondeo {
    border-radius: 10px;
 }

 img {
    width: 100%;
}

.card {
    box-shadow: 2px 2px 10px #7c7474;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 15rem;
}