<app-barra></app-barra>
<h4 class="text-center">Administrar Menú</h4>

<div class="container">
    <app-agregar-plato></app-agregar-plato>
</div>

<div class="container">
    <div class="row">
        <div class="text" *ngFor="let plato of platos">
            <div class="col">
                <div class="card">
                    <img src="{{ plato.foto }}" alt="{{ plato.nombre }}" class="card-img-top bgdark">
                    <div class="card-body">
                        <h5 class="card-title">{{ plato.nombre }}</h5>
                        <p card-text>{{ plato.descripcion }}</p>
                        <p card-text>Precio: {{ plato.precio }}</p>
                        <div class="text-center">
                            <a href="/Editar/{{plato.id}}" class="btn btn-success mr-3">Editar</a>
                            <a href="/Detalles/{{plato.id}}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


