    <nav class="navbar fixed-top navbar-expand-sm navbar-dark">
      <a routerLink="/Dashboard" class="navbar-brand">uMakeIt!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!-- BOTONES -->
        <div class="navbar-nav mr-auto">
          <a routerLink="/Dashboard" class=" nav-item nav-link">Inicio<span class="sr-only">(current)</span></a>
          <a routerLink="/Carrito" class="nav-item nav-link">Carrito</a>
          <a href="#" class="nav-item nav-link" (click)="cerrarSesion()">Logout</a>
          <!-- <a href="#" class="nav-item nav-link disabled">Desactivado</a> -->
        </div>
<!-- BUSCAR -->
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Buscar</span>
            </div>
            <input type="text" class="form-control" placeholder="¿Qué desea buscar?" aria-label="Buscar" aria-describedby="basic-addon1">
          </div>
        </form>
        <div class="navbar-nav mr-auto">
          <a routerLink="**" class=" nav-item nav-link">Usuario<span class="sr-only">(current)</span></a>
          <a href="#" class="nav-item nav-link" (click)="cerrarSesion()">Logout</a>
        </div>
<!-- PERFIL DROPDOWN -->
        <!-- <div class="dropdown" role="presentation">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">item 1</a>
              <a class="dropdown-item" href="#">item 2</a>
              <a class="dropdown-item" href="#">item 3</a>
          </div>
        </div> -->
      </div>
    </nav>