    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Nombre</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!-- BOTONES -->
        <div class="navbar-nav mr-auto">
          <a href="./Dashboard" class=" nav-item nav-link active">Inicio<span class="sr-only">(current)</span></a>
          <a href="./Login" class="nav-item nav-link">Login</a>
          <a href="#" class="nav-item nav-link disabled">Desactivado</a>
        </div>
<!-- BUSCAR -->
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Buscar</span>
            </div>
            <input type="text" class="form-control" placeholder="¿Qué desea buscar?" aria-label="Buscar" aria-describedby="basic-addon1">
          </div>
        </form>
<!-- PERFIL DROPDOWN -->
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="#" class="dropdown-item">Item 1</a>
            <a href="#" class="dropdown-item">Item 2</a>
            <a href="#" class="dropdown-item">Item 3</a>
          </div>
        </div>
      </div>
    </nav>