.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content{
    background-color: #434e5a;
    opacity: .8;
    padding: 0 18px;
    border-radius: 5px;
}

.user-img img{
    height: 140px;
    width: 140px;
    margin-left: 15px;
}

.user-img{
    margin-top: -60px;
    margin-bottom: 10px;
}

.form-group{
    margin-bottom: 25px;
}

.form-group input{
    border-radius: 2px;
    border: 0;

}

.form-input button{
    width: 40%;
    margin: 5px 0 10px;
}

.btn-success{
    background-color: #1c6288;
    font-size: 19px;
    border-radius: 2px;
    border: 0px solid #daf1ff;
}

.btn-success:hover{
    background-color: #13445e;
    border: 1px solid #daf1ff;
}

.forgot{
    margin: 0px 0px 0px 0px;
}

.forgot a{
    color: #daf1ff;
}

.crearCuenta{
    color: #daf1ff;
    margin: 5px 0px 0px 0px;
}

h3{
    color: white;
}
